.notification-container {
    position: fixed;
    z-index: 1000;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.notification-container.top-left,
.notification-container.top-right {
    flex-direction: column;
}

.notification-container.bottom-left,
.notification-container.bottom-right {
    flex-direction: column-reverse;
}

.notification {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    border-radius: 1rem;
    border: 1px solid var(--bg-notification);
    background-color: var(--bg-notification);
    font-size: 0.8175rem;
    font-weight: 500;
    transition: border 0.1s;
}

.notification-container.top-left .notification,
.notification-container.bottom-left .notification {
    animation: 0.5s ease-in-out 0s slide-in-left;
}

.notification-container.top-right .notification,
.notification-container.bottom-right .notification {
    animation: 0.5s ease-in-out 0s slide-in-right;
}

.notification:hover {
    border: 1px solid var(--primary);
}

.notification-close {
    display: flex;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--text-light);
}
