.notification-container {
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.notification-container.reverse {
    flex-direction: column-reverse;
}

.notification {
    max-width: 20rem;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: var(--bg-notification);
    font-size: 0.8175rem;
    font-weight: 500;
}

.notification-close {
    display: flex;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--text-light);
}
